URxvt.scrollBar: false
URxvt.font: xft:Monaco for Powerline:bold:size=9
URxvt.perl-ext-common: default,matcher,fullscreen,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-+: resize-font:bigger
URxvt.keysym.C--: resize-font:smaller
URxvt.internalBorder:  25

/* urxvt*depth: 32 */
/* urxvt*background: rgba:0000/0000/0200/c800 */

/* urxvt*transparent: true */
/* urxvt*shading: 10 */

rofi.opacity: 10
